{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}BusinessPro - Administration{% endblock %}

{% block content_body %}
    <h1>Bienvenue sur l'administration BusinessPro</h1>
    <p>Utilisez le menu pour gérer les avis clients.</p>
{% endblock %}
